In [3]:
import requests
from bs4 import BeautifulSoup as bs, Tag
import re
import pandas as pd
import time

In [5]:
url = 'https://en.wikipedia.org/wiki/List_of_countries_by_exports'
page = requests.get(url)
response = requests.get(url)
html = response.text
status = response.status_code
if status == 200:
    page = response.text
    soup = bs(page)
else:
    print(f"Oops! Received status code {status}")

In [13]:
 table = soup.find_all('table')[0]

In [15]:
column_names = table.find_all('th')
column_names

[<th>Country
 </th>,
 <th>Exports
 </th>,
 <th>Year
 </th>,
 <th>Top goods export (2021)<sup class="reference" id="cite_ref-2"><a href="#cite_note-2"><span class="cite-bracket">[</span>2<span class="cite-bracket">]</span></a></sup><sup class="noprint Inline-Template" style="white-space:nowrap;">[<i><a href="/wiki/Wikipedia:Manual_of_Style/Dates_and_numbers#Chronological_items" title="Wikipedia:Manual of Style/Dates and numbers"><span title="2022 data is available; see source given (January 2025)">needs update</span></a></i>]</sup>
 </th>]

In [19]:
column_names = [title.text.strip() for title in column_names]
column_names

['Country', 'Exports', 'Year', 'Top goods export (2021)[2][needs update]']

In [49]:
def clean_text(text):
    # Remove all [bracketed text]
    return re.sub(r'\[.*?\]', '', text).strip()

cleaned_headers = [clean_text(h) for h in column_names]

['Country', 'Exports', 'Year', 'Top goods export (2021)']

In [59]:
df = pd.DataFrame(columns = cleaned_headers)
df

Empty DataFrame
Columns: [Country, Exports, Year, Top goods export (2021)]
Index: []

In [29]:
data_row = table.find_all('tr')

In [67]:
 def clean_citations(text):
    return re.sub(r'\[\d+\]', '', text).strip()

cleaned_data = []

for row in data_row[1:]:
    if isinstance(row, str):
        parsed = bs(row, 'html.parser')
    elif isinstance(row, Tag):
        parsed = row
    else:
        continue

    row_data = parsed.find_all('td')
    table_rows = [clean_citations(data.text) for data in row_data]
    cleaned_data.append(table_rows)

print(cleaned_data)

[['China', '3,511,248', '2023', 'Broadcasting equipment'], ['United States', '3,051,824', '2023', 'Petroleum'], ['Germany', '2,104,251', '2023', 'Cars'], ['United Kingdom', '1,074,781', '2023', 'Gold'], ['France', '1,051,679', '2023', 'Packaged medications'], ['Netherlands', '949,983', '2023', 'Petroleum'], ['Japan', '920,737', '2023', 'Cars'], ['Italy', '793,588', '2023', 'Packaged medications'], ['Singapore', '778,000', '2023', 'Integrated circuits'], ['India', '773,223', '2023', 'Petroleum'], ['South Korea', '769,534', '2023', 'Integrated circuits'], ['United Arab Emirates', '753,000', '2022', 'Petroleum'], ['Ireland', '731,813', '2023', 'Serums and vaccines'], ['Canada', '717,677', '2023', 'Petroleum'], ['Hong Kong (CN)', '673,305', '2023', 'Integrated circuits'], ['Switzerland', '661,627', '2023', 'Gold'], ['Mexico', '649,312', '2023', 'Cars'], ['Spain', '615,829', '2023', 'Cars'], ['Taiwan', '536,128', '2022', 'Integrated circuits'], ['Belgium', '535,173', '2023', 'Vaccines'], ['Poland', '469,264', '2023', 'Car parts'], ['Russia', '465,432', '2023', 'Petroleum'], ['Australia', '447,506', '2023', 'Iron ore'], ['Brazil', '389,625', '2023', 'Iron ore'], ['Vietnam', '374,265', '2023', 'Broadcasting equipment'], ['Saudi Arabia', '370,973', '2023', 'Petroleum'], ['Turkey', '352,514', '2023', 'Cars'], ['Thailand', '336,871', '2023', 'Data processing equipment'], ['Norway', '321,076', '2022', 'Petroleum'], ['Indonesia', '315,924', '2022', 'Coal'], ['Sweden', '310,493', '2022', 'Cars'], ['Malaysia', '299,656', '2022', 'Integrated circuits'], ['Denmark', '273,868', '2022', 'Packaged medications'], ['Austria', '268,277', '2022', 'Cars'], ['Czech Republic', '217,731', '2022', 'Cars'], ['Israel', '166,098', '2022', 'Diamonds'], ['Luxembourg', '163,585', '2022', 'Iron'], ['Qatar', '161,693', '2022', 'Petroleum'], ['Hungary', '161,609', '2022', 'Cars'], ['South Africa', '135,951', '2022', 'Platinum'], ['Romania', '129,165', '2022', 'Cars'], ['Finland', '125,788', '2022', 'Paper'], ['Slovakia', '114,157', '2022', 'Cars'], ['Kuwait', '110,923', '2022', 'Petroleum'], ['Chile', '107,077', '2022', 'Copper'], ['Greece', '105,756', '2022', 'Petroleum'], ['Portugal', '105,648', '2021', 'Cars'], ['Argentina', '102,947', '2022', 'Soybeans'], ['Philippines', '98,518', '2022', 'Integrated circuits'], ['Kazakhstan', '94,052', '2022', 'Petroleum'], ['Iraq', '78,260', '2022', 'Petroleum'], ['Iran', '76,917', '2022', 'Plastic'], ['Egypt', '76,295', '2022', 'Petroleum'], ['Colombia', '72,497', '2022', 'Petroleum'], ['Peru', '71,197', '2022', 'Copper'], ['Nigeria', '69,091', '2022', 'Petroleum'], ['Algeria', '68,664', '2022', 'Petroleum'], ['Lithuania', '61,386', '2022', 'Petroleum'], ['Bulgaria', '60,712', '2022', 'Copper'], ['Bangladesh', '60,138', '2022', 'Clothing'], ['Puerto Rico (US)', '59,787', '2022', ''], ['Morocco', '58,556', '2022', 'Fertilizers'], ['New Zealand', '57,462', '2022', 'Milk'], ['Ukraine', '57,018', '2022', 'Sunflower seed oil'], ['Slovenia', '56,400', '2022', 'Packaged medications'], ['Angola', '50,120', '2022', 'Petroleum'], ['Azerbaijan', '47,274', '2022', 'Petroleum'], ['Belarus', '46,767', '2022', 'Fertilizers'], ['Oman', '46,324', '2021', 'Petroleum'], ['Croatia', '41,952', '2022', 'Petroleum'], ['Serbia', '39,900', '2022', 'Insulated wire'], ['Pakistan', '38,700', '2022', 'Clothing'], ['Ecuador', '36,338', '2022', 'Petroleum'], ['Estonia', '32,511', '2022', 'Wood'], ['Bahrain', '30,097', '2018', 'Aluminium'], ['Latvia', '28,854', '2022', 'Wood'], ['Venezuela', '28,684', '2016', 'Petroleum'], ['Costa Rica', '28,092', '2022', 'Medical instruments'], ['Panama', '27,338', '2021', 'Copper'], ['Macau (CN)', '26,485', '2021', 'Jewelry'], ['Cyprus', '25,951', '2022', 'Boats'], ['Cambodia', '25,497', '2022', 'Clothing'], ['Malta', '25,417', '2022', 'Integrated circuits'], ['Dominican Republic', '25,102', '2022', 'Gold'], ['Ghana', '23,901', '2021', 'Gold'], ['Uruguay', '22,605', '2022', 'Beef'], ['Democratic Republic of the Congo', '22,354', '2021', 'Copper'], ['Uzbekistan', '21,926', '2022', 'Gold'], ['Tunisia', '19,743', '2021', 'Clothing'], ['Syria', '19,605', '2010', 'Olive oil'], ['Myanmar', '17,523', '2019', 'Clothing'], ["CÃ´te d'Ivoire", '16,230', '2021', 'Cocoa beans'], ['Guatemala', '15,318', '2021', 'Clothing'], ['Paraguay', '14,970', '2022', 'Soybeans'], ['Bolivia', '14,468', '2022', 'Gold'], ['Jordan', '13,864', '2021', 'Clothing'], ['Sri Lanka', '13,082', '2020', 'Clothing'], ['Iceland', '12,867', '2022', 'Aluminium'], ['Zambia', '12,437', '2022', 'Copper'], ['Kenya', '11,825', '2021', 'Tea'], ['Papua New Guinea', '11,624', '2021', 'Petroleum'], ['Bosnia and Herzegovina', '11,523', '2022', 'Energy'], ['Trinidad and Tobago', '11,467', '2021', 'Petroleum'], ['Brunei', '11,202', '2021', 'Petroleum'], ['Mongolia', '10,989', '2022', 'Copper'], ['Guinea', '10,265', '2021', 'Gold'], ['North Macedonia', '10,150', '2022', 'Automobile catalysts'], ['Lebanon', '10,146', '2021', 'Gold'], ['El Salvador', '10,129', '2022', 'Clothing'], ['Armenia', '9,699', '2022', 'Copper'], ['Libya', '9,537', '2020', 'Petroleum'], ['Ethiopia', '9,496', '2021', 'Coffee'], ['Mozambique', '9,409', '2022', 'Coal'], ['Honduras', '9,243', '2022', 'Clothing'], ['Cuba', '8,769', '2020', 'Cigars'], ['Tanzania', '8,555', '2020', 'Gold'], ['Turkmenistan', '8,164', '2020', 'Petroleum'], ['Georgia', '8,086', '2021', 'Copper'], ['Botswana', '7,930', '2021', 'Diamonds'], ['Nicaragua', '7,870', '2022', 'Clothing'], ['Laos', '7,819', '2021', 'Energy'], ['Cameroon', '7,449', '2021', 'Petroleum'], ['Albania', '7,057', '2022', 'Footwear'], ['Equatorial Guinea', '6,656', '2022', 'Petroleum'], ['Chad', '6,503', '2022', 'Petroleum'], ['Jamaica', '6,424', '2022', 'Aluminium oxide'], ['Burkina Faso', '6,233', '2021', 'Gold'], ['Uganda', '6,177', '2021', 'Gold'], ['Moldova', '5,977', '2022', 'Insulated wire'], ['Sudan', '5,908', '2022', 'Gold'], ['Gabon', '5,390', '2015', 'Petroleum'], ['Mali', '5,381', '2021', 'Gold'], ['Senegal', '5,287', '2018', 'Gold'], ['Zimbabwe', '5,263', '2020', 'Gold'], ['Djibouti', '5,160', '2021', 'Palm oil'], ['Maldives', '5,096', '2022', 'Fish'], ['Namibia', '5,080', '2022', 'Copper'], ['Mauritius', '4,918', '2022', 'Fish'], ['Republic of the Congo', '4,700', '2020', 'Petroleum'], ['South Sudan', '4,652', '2021', 'Petroleum'], ['Guyana', '4,640', '2021', 'Petroleum'], ['Benin', '4,154', '2021', 'Cotton'], ['Cayman Islands (UK)', '3,652', '2020', 'Boats'], ['Kosovo', '3,577', '2022', ''], ['Palestine', '3,544', '2022', 'Stone'], ['San Marino', '3,420', '2021', 'Dish washing machines'], ['Madagascar', '3,341', '2021', 'Vanilla'], ['Kyrgyzstan', '3,292', '2021', 'Gold'], ['Bahamas', '3,202', '2021', 'Petroleum'], ['Mauritania', '3,181', '2021', 'Iron ore'], ['Montenegro', '3,178', '2022', 'Aluminium'], ['Aruba (NL)', '3,004', '2022', 'Petroleum'], ['Rwanda', '2,994', '2022', 'Gold'], ['Nepal', '2,722', '2022', 'Soybean oil'], ['Suriname', '2,599', '2022', 'Gold'], ['Andorra', '2,414', '2021', 'Cars'], ['Fiji', '2,376', '2022', 'Water'], ['Timor-Leste', '2,315', '2021', 'Petroleum'], ['Barbados', '2,228', '2017', 'Rum'], ['Eswatini', '2,131', '2021', 'Soft drink concentrates'], ['New Caledonia (FR)', '1,875', '2016', 'Ferroalloys'], ['Tajikistan', '1,753', '2022', 'Gold'], ['Seychelles', '1,751', '2021', 'Boats'], ['Togo', '1,721', '2020', 'Petroleum'], ['Malawi', '1,538', '2021', 'Tobacco'], ['Niger', '1,487', '2021', 'Gold'], ['Afghanistan', '1,476', '2020', 'Gold'], ['Somalia', '1,363', '2022', 'Goats'], ['Belize', '1,345', '2022', 'Sugarcane'], ['CuraÃ§ao (NL)', '1,280', '2021', 'Petroleum'], ['Haiti', '1,241', '2021', 'Clothes'], ['Faroe Islands (DK)', '1,213', '2011', 'Fish'], ['French Polynesia (FR)', '1,202', '2016', 'Pearls'], ['Bermuda (UK)', '1,136', '2021', 'Boats'], ['Sierra Leone', '1,114', '2021', 'Titanium ore'], ['Lesotho', '1,066', '2022', 'Diamonds'], ['Yemen', '938', '2016', 'Petroleum'], ['Cape Verde', '855', '2022', 'Fish'], ['Turks and Caicos Islands (UK)', '827', '2018', 'Molluscs'], ['Bhutan', '791', '2022', 'Ferroalloys'], ['Sint Maarten (NL)', '788', '2021', 'Petroleum'], ['Antigua and Barbuda', '752', '2021', 'Petroleum'], ['Saint Lucia', '711', '2021', 'Petroleum'], ['Liberia', '554', '2019', 'Iron ore'], ['Solomon Islands', '411', '2022', 'Wood'], ['Grenada', '394', '2021', 'Fish'], ['Saint Kitts and Nevis', '393', '2021', 'Broadcasting equipment'], ['Eritrea', '375', '2011', 'Zinc'], ['Guinea-Bissau', '335', '2021', 'Cashews'], ['Central African Republic', '316', '2022', 'Gold'], ['Burundi', '285', '2018', 'Gold'], ['Samoa', '171', '2022', 'Coconut oil'], ['Comoros', '140', '2021', 'Cloves'], ['Saint Vincent and the Grenadines', '138', '2021', 'Boats'], ['Gambia', '135', '2021', 'Cashews'], ['Marshall Islands', '130', '2021', 'Boats'], ['Micronesia', '126', '2014', 'Fish'], ['Dominica', '123', '2021', 'Medical instruments'], ['Vanuatu', '89', '2021', 'Fish'], ['SÃ£o TomÃ© and PrÃ­ncipe', '75', '2021', 'Cocoa beans'], ['Tonga', '60', '2022', 'Shellfish'], ['Nauru', '31', '2018', 'Fish'], ['Palau', '12', '2021', 'Computers'], ['Kiribati', '11', '2021', 'Fish'], ['Tuvalu', '3', '2021', 'Boats']]

In [69]:
for row in cleaned_data:
    df.loc[len(df)] = row

In [77]:
df

            Country    Exports  Year Top goods export (2021)
0             China  3,511,248  2023  Broadcasting equipment
1     United States  3,051,824  2023               Petroleum
2           Germany  2,104,251  2023                    Cars
3    United Kingdom  1,074,781  2023                    Gold
4            France  1,051,679  2023    Packaged medications
..              ...        ...   ...                     ...
405           Tonga         60  2022               Shellfish
406           Nauru         31  2018                    Fish
407           Palau         12  2021               Computers
408        Kiribati         11  2021                    Fish
409          Tuvalu          3  2021                   Boats

[410 rows x 4 columns]

In [81]:
df.to_csv(r'C:\Users\pmush\OneDrive\Desktop\Data Science Prog\webscrapping\exports.csv', index = False)