In [3]:
import requests
from bs4 import BeautifulSoup as bs, Tag
import re
import pandas as pd
import time

In [5]:
url = 'https://en.wikipedia.org/wiki/Forbes_Global_2000#2023'
page = requests.get(url)
response = requests.get(url)
html = response.text
status = response.status_code
if status == 200:
    page = response.text
    soup = bs(page)
else:
    print(f"Oops! Received status code {status}")

In [11]:
table = soup.find_all('table')[7]

In [15]:
headings = table.find_all('th')

In [17]:
headings = [title.text.strip() for title in headings]
headings

['Sector',
 'Company',
 'Headquarters',
 'Overall  rank',
 'Sales  (billion $)',
 'Profits  (billion $)',
 'Assets  (billion $)',
 'Market value  (billion $)']

In [19]:
df = pd.DataFrame(columns = headings)
df

Empty DataFrame
Columns: [Sector, Company, Headquarters, Overall  rank, Sales  (billion $), Profits  (billion $), Assets  (billion $), Market value  (billion $)]
Index: []

In [31]:
data_row = table.find_all('tr')

In [45]:
def clean_citations(text):
    return re.sub(r'\[\d+\]', '', text).strip()

cleaned_data = []

for row in data_row[1:]:
    if isinstance(row, str):
        parsed = bs(row, 'html.parser')
    elif isinstance(row, Tag):
        parsed = row
    else:
        continue

    row_data = parsed.find_all('td')
    table_rows = [clean_citations(data.text) for data in row_data]
    cleaned_data.append(table_rows)

print(cleaned_data)

[['Advertising', 'WPP', 'London', '0301#301', '18.7', '1.8', '42.4', '30.1'], ['Aerospace & Defense', 'Boeing', 'Chicago', '0076#76', '96.1', '5.2', '94.4', '85.3'], ['Air Courier', 'United Parcel Service', 'Sandy Springs', '0146#146', '58.1', '4.8', '38.3', '93.3'], ['Airline', 'Delta Air Lines', 'Atlanta', '0170#170', '40.5', '4.7', '53.3', '34.4'], ['Aluminum', 'Alcoa', 'New York City', '0757#757', '21.7', '-0.3', '36.1', '13.7'], ['Apparel/Accessories', 'Christian Dior', 'Paris', '0216#216', '41.6', '1.7', '68.1', '31.4'], ['Apparel/Footwear Retail', 'Inditex', 'A Coruña', '0310#310', '23.1', '3.2', '18.8', '103.2'], ['Auto & Truck Manufacturers', 'Toyota Motor', 'Toyota', '0010#10', '235.8', '19.3', '406.7', '177.0'], ['Auto & Truck Parts', 'Continental', 'Hanover', '0209#209', '43.5', '3.0', '36.7', '43.7'], ['Beverages', 'Anheuser-Busch InBev', 'Leuven', '0056#56', '43.6', '8.3', '136.5', '204.6'], ['Biotechs', 'Gilead Sciences', 'Foster City', '0118#118', '32.2', '18.1', '51.8', '138.1'], ['Broadcasting & Cable', 'Comcast', 'Philadelphia', '0035#35', '74.5', '8.2', '166.6', '148.2'], ['Business & Personal Services', 'Alibaba', 'Hangzhou', '0174#174', '15.0', '11.0', '56.2', '200.7'], ['Business Products & Supplies', 'Canon', 'Tokyo', '0254#254', '31.4', '1.8', '36.8', '40.4'], ['Casinos & Gaming', 'Las Vegas Sands', 'Paradise', '0432#301', '11.4', '1.8', '21.0', '37.2'], ['Communications Equipment', 'Cisco Systems', 'San Jose', '0063#63', '49.6', '10.3', '112.6', '141.7'], ['Computer & Electronics Retail', 'Best Buy', 'Richfield', '0637#637', '39.5', '0.9', '13.5', '10.7'], ['Computer Hardware', 'Apple Inc.', 'Cupertino', '0008#8', '233.3', '53.7', '293.3', '586.0'], ['Computer Services', 'Alphabet', 'Mountain View', '0027#27', '77.2', '17.0', '149.7', '500.1'], ['Computer Storage Devices', 'EMC', 'Hopkinton', '0231#231', '24.6', '2.0', '45.7', '51.9'], ['Conglomerates', 'Siemens', 'Munich', '0051#51', '85.5', '6.5', '133.9', '91.8'], ['Construction Materials', 'Saint-Gobain', 'Courbevoie', '0256#256', '43.9', '1.4', '48.7', '25.6'], ['Construction Services', 'China State Construction Engineering', 'Beijing', '0114#114', '135.0', '4.1', '165.6', '25.6'], ['Consumer Electronics', 'Sony', 'Tokyo', '0192#192', '67.9', '1.1', '142.2', '34.1'], ['Consumer Financial Services', 'American Express', 'New York City', '0095#95', '34.6', '5.0', '159.0', '63.2'], ['Containers & Packaging', 'Amcor', 'Hawthorn', '0966#966', '9.3', '0.7', '8.2', '13.6'], ['Department Stores', "Macy's", 'New York City', '0515#515', '27.1', '1.1', '20.6', '12.8'], ['Discount Stores', 'Wal-Mart Stores', 'Bentonville', '0015#15', '482.1', '14.7', '199.6', '215.7'], ['Diversified Chemicals', 'BASF', 'Ludwigshafen', '0094#94', '78.1', '4.4', '80.1', '73.2'], ['Diversified Insurance', 'Ping An Insurance', 'Shenzhen', '0020#20', '98.7', '8.7', '732.3', '90.0'], ['Diversified Metals & Mining', 'China Shenhua Energy', 'Beijing', '0167#167', '27.3', '2.6', '85.3', '43.1'], ['Diversified Utilities', 'Veolia Environnement', 'Paris', '0526#526', '27.7', '0.5', '39.0', '13.3'], ['Drug Retail', 'CVS Health', 'Woonsocket', '0062#62', '153.3', '5.2', '93.7', '110.8'], ['Electric Utilities', 'Korea Electric Power', 'Seoul', '0097#97', '52.1', '11.7', '149.5', '33.1'], ['Electrical Equipment', 'Schneider Electric', 'Rueil-Malmaison', '0248#117', '29.5', '1.6', '46.3', '39.3'], ['Electronics', 'Hon Hai Precision (Foxconn)', 'New Taipei City', '0117#117', '141.2', '4.6', '70.3', '39.2'], ['Environmental & Waste', 'Waste Management', 'Houston', '0549#549', '13.0', '0.8', '20.9', '25.1'], ['Food Processing', 'Nestlé', 'Vevey', '0033#33', '92.2', '9.4', '123.9', '235.7'], ['Food Retail', 'Kroger', 'Cincinnati', '0223#223', '109.8', '2.0', '34.9', '34.2'], ['Forest Products', 'Empresas CMPC', 'Santiago', '1943#1943', '4.8', '0.3', '14.8', '5.4'], ['Furniture & Fixtures', 'Steinhoff International', 'Stellenbosch', '0440#440', '13.3', '1.4', '25.1', '22.8'], ['Healthcare Services', 'Express Scripts', 'St. Louis', '0145#145', '101.8', '2.5', '54.0', '46.5'], ['Heavy Equipment', 'Caterpillar', 'Peoria', '0155#155', '47.0', '2.1', '78.5', '45.6'], ['Home Improvement Retail', 'Home Depot', 'Atlanta', '0112#112', '88.5', '7.0', '42.5', '169.8'], ['Hotels/Motels', 'Carnival', 'Miami', '0311#311', '15.8', '1.9', '38.4', '37.8'], ['Household Appliances', 'Midea Group', 'Foshan', '0402#402', '22.0', '2.0', '19.8', '20.2'], ['Household/Personal Care', 'Procter & Gamble', 'Cincinnati', '0039#39', '69.4', '8.4', '129.1', '218.9'], ['Insurance Brokers', 'Aon', 'London', '0420#420', '11.7', '1.4', '27.2', '27.9'], ['Internet & Catalog Retail', 'Amazon', 'Seattle', '0237#237', '107.0', '0.6', '67.7', '292.6'], ['Investment Services', 'Berkshire Hathaway', 'Omaha', '0004#4', '210.8', '24.1', '561.1', '360.1'], ['Iron & Steel', 'Citic Pacific', 'Hong Kong', '0061#61', '53.8', '5.4', '877.8', '45.4'], ['Life & Health Insurance', 'Japan Post Holdings', 'Tokyo', '0029#29', '129.8', '4.4', '2,450.7', '62.6'], ['Major Banks', 'Industrial and Commercial Bank of China', 'Beijing', '0001#1', '171.1', '44.2', '3,420.3', '198.0'], ['Managed Health Care', 'UnitedHealth Group', 'Minnetonka', '0041#41', '165.9', '6.0', '117.9', '127.5'], ['Medical Equipment & Supplies', 'Johnson & Johnson', 'New Brunswick', '0032#32', '70.2', '15.4', '133.4', '312.6'], ['Natural Gas Utilities', 'Gas Natural Fenosa', 'Barcelona', '0287#287', '28.8', '1.7', '52.3', '20.6'], ['Oil & Gas Operations', 'ExxonMobil', 'Irving', '0009#9', '236.8', '16.2', '336.8', '363.3'], ['Oil Services & Equipment', 'Schlumberger', 'Houston', '0176#176', '31.7', '1.6', '69.1', '111.1'], ['Other Industrial Equipment', 'Eaton', 'Dublin', '0315#315', '20.9', '2.0', '31.0', '28.9'], ['Other Transportation', 'Møller-Maersk', 'Copenhagen', '0306#306', '40.3', '0.7', '64.1', '30.7'], ['Paper & Paper Products', 'International Paper', 'Memphis', '0426#426', '22.4', '0.9', '30.6', '17.8'], ['Pharmaceuticals', 'Pfizer', 'New York City', '0046#46', '48.9', '7.7', '167.5', '205.7'], ['Precision Healthcare Equipment', 'Thermo Fisher Scientific', 'Waltham', '0267#267', '17.0', '2.0', '40.9', '57.8'], ['Printing & Publishing', 'Thomson Reuters', 'New York City', '0405#405', '12.2', '1.3', '29.1', '30.9'], ['Property & Casualty Insurance', 'Travelers', 'New York City', '0165#165', '26.9', '3.4', '102.0', '32.4'], ['Railroads', 'Union Pacific', 'Omaha', '0172#172', '21.0', '4.6', '55.8', '75.4'], ['Real Estate', 'Vanke', 'Shenzhen', '0185#185', '31.1', '2.9', '94.1', '27.7'], ['Recreational Products', 'Activision Blizzard', 'Santa Monica', '0842#842', '4.6', '0.9', '15.3', '25.5'], ['Regional Banks', 'China Construction Bank', 'Beijing', '0002#2', '146.8', '36.4', '2,826.0', '162.8'], ['Rental & Leasing', 'Mitsubishi UFJ Lease', 'Tokyo', '1075#1075', '6.7', '0.5', '42.3', '4.2'], ['Restaurants', "McDonald's", 'Oak Brook', '0189#189', '25.4', '4.8', '37.9', '110.1'], ['Security Systems', 'Secom', 'Tokyo', '0854#854', '7.1', '0.6', '13.2', '18.1'], ['Semiconductors', 'Samsung Electronics', 'Seoul', '0018#18', '177.3', '16.5', '206.5', '161.6'], ['Software & Programming', 'Microsoft', 'Redmond', '0023#23', '86.6', '10.2', '181.9', '407.0'], ['Specialized Chemicals', 'Air Liquide', 'Paris', '0313#313', '18.2', '1.9', '31.4', '40.5'], ['Specialty Stores', 'Richemont', 'Bellevue', '0416#416', '12.4', '1.7', '21.2', '37.6'], ['Telecommunications services', 'AT&T', 'Dallas', '0012#12', '146.8', '13.2', '402.7', '234.2'], ['Thrifts & Mortgage Financing', 'Aareal Bank', 'Wiesbaden', '1381#1381', '1.4', '0.4', '57.2', '2.1'], ['Tobacco', 'British American Tobacco', 'London', '0177#177', '20.0', '6.6', '46.5', '111.0'], ['Trading Companies', 'Mitsubishi Corp', 'Tokyo', '0136#136', '59.8', '2.7', '135.7', '27.7'], ['Trucking', 'Yamato Holdings', 'Tokyo', '1306#1306', '11.7', '0.3', '9.3', '8.6']]

In [51]:
for row in cleaned_data:
    df.loc[len(df)] = row

In [53]:
df

,Sector,Company,Headquarters,Overall rank,Sales (billion $),Profits (billion $),Assets (billion $),Market value (billion $)
0,Advertising,WPP,London,0301#301,18.7,1.8,42.4,30.1
1,Aerospace & Defense,Boeing,Chicago,0076#76,96.1,5.2,94.4,85.3
2,Air Courier,United Parcel Service,Sandy Springs,0146#146,58.1,4.8,38.3,93.3
3,Airline,Delta Air Lines,Atlanta,0170#170,40.5,4.7,53.3,34.4
4,Aluminum,Alcoa,New York City,0757#757,21.7,-0.3,36.1,13.7
...,...,...,...,...,...,...,...,...
238,Telecommunications services,AT&T,Dallas,0012#12,146.8,13.2,402.7,234.2
239,Thrifts & Mortgage Financing,Aareal Bank,Wiesbaden,1381#1381,1.4,0.4,57.2,2.1
240,Tobacco,British American Tobacco,London,0177#177,20.0,6.6,46.5,111.0
241,Trading Companies,Mitsubishi Corp,Tokyo,0136#136,59.8,2.7,135.7,27.7
242,Trucking,Yamato Holdings,Tokyo,1306#1306,11.7,0.3,9.3,8.6

In [59]:
#to solve KeyError: 'Overall rank'
df.rename(columns={df.columns[3]: 'Overall rank'}, inplace=True)

# Clean the rank values
df['Overall rank'] = df['Overall rank'].apply(lambda x: '#' + x.split('#')[-1] if isinstance(x, str) and '#' in x else x)

In [61]:
df

,Sector,Company,Headquarters,Overall rank,Sales (billion $),Profits (billion $),Assets (billion $),Market value (billion $)
0,Advertising,WPP,London,#301,18.7,1.8,42.4,30.1
1,Aerospace & Defense,Boeing,Chicago,#76,96.1,5.2,94.4,85.3
2,Air Courier,United Parcel Service,Sandy Springs,#146,58.1,4.8,38.3,93.3
3,Airline,Delta Air Lines,Atlanta,#170,40.5,4.7,53.3,34.4
4,Aluminum,Alcoa,New York City,#757,21.7,-0.3,36.1,13.7
...,...,...,...,...,...,...,...,...
238,Telecommunications services,AT&T,Dallas,#12,146.8,13.2,402.7,234.2
239,Thrifts & Mortgage Financing,Aareal Bank,Wiesbaden,#1381,1.4,0.4,57.2,2.1
240,Tobacco,British American Tobacco,London,#177,20.0,6.6,46.5,111.0
241,Trading Companies,Mitsubishi Corp,Tokyo,#136,59.8,2.7,135.7,27.7
242,Trucking,Yamato Holdings,Tokyo,#1306,11.7,0.3,9.3,8.6

In [63]:
df.to_csv(r'C:\Users\pmush\OneDrive\Desktop\Data Science Prog\webscrapping\industrylist.csv', index = False)