In [3]:
import requests
from bs4 import BeautifulSoup as bs, Tag
import re
import pandas as pd
import time

In [4]:
url = 'https://en.wikipedia.org/wiki/List_of_largest_private_non-governmental_companies_by_revenue'
page = requests.get(url)
response = requests.get(url)
html = response.text
status = response.status_code
if status == 200:
    page = response.text
    soup = bs(page)
else:
    print(f"Oops! Received status code {status}")

In [5]:
table = soup.find_all('table')[0]

In [6]:
headers = table.find_all('th')

In [7]:
headers = [title.text.strip() for title in headers]
headers

['No.', 'Company', 'Revenue (in billions of USD)', 'Headquarters', 'Founded']

In [8]:
df = pd.DataFrame(columns = headers)
df

Empty DataFrame
Columns: [No., Company, Revenue (in billions of USD), Headquarters, Founded]
Index: []

In [9]:
data_row = table.find_all('tr')

In [10]:
def clean_citations(text):
    return re.sub(r'\[\d+\]', '', text).strip()

cleaned_data = []

for row in data_row[1:]:
    if isinstance(row, str):
        parsed = bs(row, 'html.parser')
    elif isinstance(row, Tag):
        parsed = row
    else:
        continue

    row_data = parsed.find_all('td')
    table_rows = [clean_citations(data.text) for data in row_data]
    cleaned_data.append(table_rows)

print(cleaned_data)

[['1', 'Vitol', '400 (2023)', 'Switzerland', '1966'], ['2', 'Trafigura Group', '244.3 (2023)', 'Singapore', '1993'], ['3', 'Schwarz Group', '180.6 (2023)', 'Germany', '1930'], ['4', 'Cargill', '160 (2023/24)', 'United States', '1865'], ['5', 'Koch Industries', '125 (2021)', 'United States', '1940'], ['6', 'Aldi', '120.96 (2023)', 'Germany', '1946'], ['7', 'E.Leclerc', '102.98 (2023)', 'France', '1948'], ['8', 'Suning Holdings Group', '102.9 (2019/20)', 'China', '1990'], ['9', 'REWE Group', '99.69 (2023)', 'Germany', '1927'], ['10', 'Huawei', '99 (2023)', 'China', '1987'], ['11', 'Robert Bosch', '98.92 (2023)', 'Germany', '1886'], ['12', 'Amer International Group', '88.9 (2019)', 'China', '1995'], ['13', 'HNA Group', '88.5 (2018)', 'China', '2000'], ['14', 'ByteDance', '85.2 (2022) *', 'China', '2012'], ['15', 'State Farm', '82.2 (2021)', 'United States', '1922'], ['16', 'Hengli Group', '80.6 (2019)', 'China', '1994'], ['17', 'Pacific Construction Group', '77.07 (2021)', 'China', '1986'], ['18', 'Nippon Life Insurance', '74 (2019/20)', 'Japan', '1889'], ['19', 'INEOS', '65 (2021)', 'United Kingdom', '1998'], ['20', 'CMA CGM', '56 (2021)', 'France', '1978'], ['21', 'Auchan Holding', '54.7 (2019)', 'France', '1961'], ['22', 'Groupe BPCE', '47.9 (2019)', 'France', '2009'], ['23', 'Zheijiang Geely Holding Group', '47.89 (2019)', 'China', '1986'], ['24', 'Deloitte', '47.6 (2019/20)', 'United Kingdom', '1845'], ['25', 'Ingram Micro', '47.2 (2019)', 'United States', '1979'], ['26', 'SPAR', '46.98 (2022)', 'Netherlands', '1932'], ['27', 'IKEA', '45.4 (2018/19)', 'Sweden', '1943'], ['28', 'New York Life Insurance Company', '44.2 (2019)', 'United States', '1845'], ['29', 'Nationwide', '44 (2019)', 'United States', '1926'], ['30', 'Liberty Mutual Insurance Group', '43.2 (2019)', 'United States', '1912'], ['31', 'PricewaterhouseCoopers', '43 (2019/20)', 'United Kingdom', '1998'], ['32', 'Cedar Holdings Group', '41.3 (2019)', 'China', '1997'], ['33', 'ZF Friedrichshafen', '40.9 (2019)', 'Germany', '1915'], ['34', 'TIAA', '40.5 (2019)', 'United States', '1918'], ['35', 'Shandong Weiqiao Pioneering Group', '40.4 (2019)', 'China', '1951'], ['36', 'Edeka Zentrale', '39.8 (2019)', 'Germany', '1898'], ['37', 'DZ Bank', '39.1 (2019)', 'Germany', '2001'], ['38', 'Publix Super Markets', '38.5 (2019)', 'United States', '1930'], ['39', 'Tsingshan Holding Group', '38 (2019)', 'China', '1992'], ['40', 'Meiji Yasuda Life Insurance', '37.5 (2019/20)', 'Japan', '2004'], ['41', 'Massachusetts Mutual Life Insurance Company', '37.3 (2019)', 'United States', '1851'], ['42', 'Ernst & Young', '37.2 (2019/20)', 'United Kingdom', '1989'], ['43', 'Mars', '37 (2019)', 'United States', '1911'], ['44', 'Tech Data', '37 (2019/20)', 'United States', '1974'], ['45', 'Jiangsu Shagang Group', '36.5 (2019)', 'China', '1975'], ['46', 'Les Mousquetaires', '35.9 (2019)', 'France', '1969'], ['47', 'Yango Longking Group', '35.9 (2019)', 'China', '1995'], ['48', 'USAA', '35.6 (2019)', 'United States', '1922'], ['49', 'Reyes Holdings', '35 (2019)', 'United States', '1976'], ['50', 'Louis Dreyfus Company', '33.8 (2019)', 'France', '1851'], ['51', 'Northwestern Mutual', '32.3 (2019)', 'United States', '1857'], ['52', 'Groupe Casino', '32.1 (2021)', 'France', '1898'], ['53', 'Sumitomo Life Insurance', '32.1 (2019/20)', 'Japan', '1907'], ['54', 'Wanda Group', '31.7 (2018)', 'China', '1988'], ['55', 'H-E-B', '31.2 (2018/19)', 'United States', '1905'], ['56', 'Phoenix Pharma', '30.5 (2019/20)', 'Germany', '1994'], ['57', 'Pilot Flying J', '29.5 (2019)', 'United States', '1981'], ['58', 'Taikang Insurance Group', '29.5 (2019)', 'China', '1996'], ['59', 'Coop Group', '29.49 (2019)', 'Switzerland', '1969'], ['60', 'KPMG', '29.22(2020)', 'Netherlands', '1987'], ['61', 'Xinjiang Guanghui Industry Investment Group', '28.7 (2019)', 'China', '1989'], ['62', 'GS Caltex', '28.5 (2019)', 'South Korea', '1967'], ['63', 'Migros Group', '28.5 (2019)', 'Switzerland', '1925'], ['64', 'Huaxia Life Insurance', '28.49 (2019)', 'China', '2006'], ['65', 'Mercadona', '28 (2019)', 'Spain', '1977'], ['66', 'Achmea', '27.6 (2019)', 'Netherlands', '1995'], ['67', 'Hailiang Group', '27.2 (2019)', 'China', '1989'], ['68', 'EG Group', '26.5 (2020/21)', 'United Kingdom', '2001'], ['69', 'C&S Wholesale Grocers', '25.8 (2018/19)', 'United States', '1918'], ['70', 'Heraeus', '25.1 (2019)', 'Germany', '1851'], ['71', 'Massachusetts Mutual Life Insurance', '23.66 (2020)', 'United States', '1851'], ['72', 'Asda', '22.7 (2019/20)', 'United Kingdom', '1942'], ['73', 'Enterprise Holdings', '22.5 (2019/20)', 'United States', '1969'], ['74', 'Bechtel', '21.8 (2019)', 'United States', '1898'], ['75', 'Boehringer Ingelheim', '21.3 (2019)', 'Germany', '1885'], ['76', 'Cox Enterprises', '21.1 (2019)', 'United States', '1898'], ['77', 'Greenergy', '21.1 (2019)', 'United Kingdom', '1992'], ['78', 'Fidelity Investments', '20.9 (2019)', 'United States', '1946'], ['79', "Love's Travel Stops & Country Stores", '20.6 (2019)', 'United States', '1964'], ['80', "Southern Glazer's Wine & Spirits", '20 (2019)', 'United States', '1968'], ['81', 'Syst√®me U', '19.6 (2019)', 'France', '1894'], ['82', 'Wakefern Food Corporation', '19.6 (2022/23)', 'United States', '1946'], ['83', 'Meijer', '18.1 (2019/20)', 'United States', '1934'], ['84', 'Allied Universal', '18.0 (2020)', 'United States', '2016'], ['85', 'JM Family Enterprises', '17.7 (2019)', 'United States', '1968'], ['86', 'World Wide Technology', '17.0 (2022)', 'United States', '1990'], ['87', 'Swire', '16.3 (2021)', 'United Kingdom', '1816'], ['88', 'Subway', '16.1 (2019)', 'United States', '1965'], ['89', 'Chanel', '15.6 (2021)', 'France', '1910'], ['90', 'Gordon Food Service', '15.5 (2018/19)', 'United States', '1897'], ['91', 'Inspire Brands', '14.6 (2020)', 'United States', '2018'], ['92', 'John Lewis Partnership', '14.5 (2021/22)', 'United Kingdom', '1929'], ['93', 'Turner Construction', '14.4 (2020)', 'United States', '1901'], ['94', "Land O' Lakes", '13.95 (2020)', 'United States', '1921'], ['95', 'Medline Industries', '13.9 (2019)', 'United States', '1966'], ['96', "Trader Joe's", '13.7 (2019)', 'United States', '1958'], ['97', 'Allegis Group', '13.6 (2019)', 'United States', '1984'], ['98', 'The Guardian Life Insurance Company of America', '13.56 (2020)', 'United States', '1860'], ['99', 'American Family Insurance Group', '13.07 (2020)', 'United States', '1927'], ['100', 'Wawa', '13 (2019)', 'United States', '1964'], ['101', 'Kingston Technology', '12.8 (2019)', 'United States', '1985'], ['102', 'Racetrac', '12.6 (2019)', 'United States', '1934'], ['103', "Kiewit Corporation (Peter Kiewit Sons')", '12.46 (2020)', 'United States', '1932'], ['104', 'Farmers Insurance Exchange', '11.87 (2020)', 'United States', '1928'], ['105', 'ABC Supply', '11.6 (2019)', 'United States', '1982'], ['106', 'Hearst Corporation', '11.5 (2019)', 'United States', '1887'], ['107', 'Decathlon', '11.4 (2020)', 'France', '1976'], ['108', 'Chick-fil-A', '11.3 (2019)', 'United States', '1976'], ['109', 'QuikTrip', '11.2 (2019/20)', 'United States', '1958'], ['110', 'Mutual of Omaha Insurance', '11.1 (2020)', 'United States', '1909'], ['111', 'Republic National Distributing Company', '11.0 (2019)', 'United States', '1996'], ['112', 'Graybar', '11.0 (2023) **', 'United States', '1869'], ['113', 'SHI International Corp', '10.7 (2019)', 'United States', '1989'], ['114', 'Menards', '10.7 (2019)', 'United States', '1960'], ['115', 'Bloomberg', '10.5 (2019)', 'United States', '1981'], ['116', 'S. C. Johnson & Son', '10.5 (2019/20)', 'United States', '1886'], ['117', 'McKinsey', '10.5 (2019)', 'United States', '1929'], ['118', 'The Whiting-Turner Contracting Company', '10.3 (2019)', 'United States', '1909'], ['119', 'G4S', '10.3 (2024)', 'United Kingdom', '2004'], ['120', 'Jones Financial (Edward Jones)', '10.17 (2020)', 'United States', '1922'], ['121', 'Hy-Vee', '10.1 (2019', 'United States', '1930'], ['122', 'Calpine', '10.1 (2019)', 'United States', '1984'], ['123', 'Pacific Life', '10.06 (2020)', 'United States', '1868']]

In [11]:
for row in cleaned_data:
    df.loc[len(df)] = row

In [12]:
df

,No.,Company,Revenue (in billions of USD),Headquarters,Founded
0,1,Vitol,400 (2023),Switzerland,1966
1,2,Trafigura Group,244.3 (2023),Singapore,1993
2,3,Schwarz Group,180.6 (2023),Germany,1930
3,4,Cargill,160 (2023/24),United States,1865
4,5,Koch Industries,125 (2021),United States,1940
...,...,...,...,...,...
118,119,G4S,10.3 (2024),United Kingdom,2004
119,120,Jones Financial (Edward Jones),10.17 (2020),United States,1922
120,121,Hy-Vee,10.1 (2019,United States,1930
121,122,Calpine,10.1 (2019),United States,1984
122,123,Pacific Life,10.06 (2020),United States,1868

In [13]:
df.to_csv(r'C:\Users\pmush\OneDrive\Desktop\Data Science Prog\webscrapping\largeprivate.csv', index = False)

In [14]:
df = pd.read_csv('C:/Users/pmush/OneDrive/Desktop/Data Science Prog/webscrapping/largeprivate.csv')

In [30]:
counts = df['Headquarters'].value_counts()

print(counts)

Headquarters
United States     62
China             18
Germany           10
France            10
United Kingdom    10
Switzerland        3
Japan              3
Netherlands        3
Singapore          1
Sweden             1
South Korea        1
Spain              1
Name: count, dtype: int64

## Question 5 ##
#### What percentage are American companies in the largest private non-governmental companies? ####

In [32]:
percentages = df['Headquarters'].value_counts(normalize=True) * 100

print(percentages)

Headquarters
United States     50.406504
China             14.634146
Germany            8.130081
France             8.130081
United Kingdom     8.130081
Switzerland        2.439024
Japan              2.439024
Netherlands        2.439024
Singapore          0.813008
Sweden             0.813008
South Korea        0.813008
Spain              0.813008
Name: proportion, dtype: float64

### Answer ###
* American companies make up 50% of the 123 Largest private non-governmental companies listed by revenue
* the page was last edited on 8 April 2025

### References ###
count and percentage code: ChatGPT, response to ‚Äúhow to get count and percentage for one column,‚Äù April 12, 2025, ChatGPT, https://chatgpt.com/.

clean citations code: ChatGPT, response to ‚Äúhow to remove citations from a table,‚Äù April 11, 2025, ChatGPT, https://chatgpt.com/.